h1, h2 {
	color: #2d3c49;
}

h2, hr {
	color: #7d97ad;
	
}

ul { 
    width: 70%;
    margin: auto;
}


#title {
	text-align: right;
}

#small-udacity-logo {
	width:"125"; 
	height:"70";
	float:left;
}

#body-picture {
	width: 800px;
	max-height: 100%;

}

#summary {
	text-align: center;
}


